# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary test outputs
*.stl
*.urdf
meshes/

# OS artifacts
Thumbs.db
[Dd]esktop.ini
.DS_Store

# Local editor settings
.vscode/
